<%= render 'layouts/header' %>
<div class="wind">
  <div class="row" style="margin-right:0px;margin-left:0px">
    <div class="col-md-1 noneedxs noneedsm">
      &nbsp;
    </div>
    <div class="col-sm-12 col-md-10">
      <h2 style="color: black; display: inline-block; margin-top: 15px;">My Memories</h2>
      <hr style="border-top: 1px solid;color:#ebebeb;margin: 0px ;">
     
      <div class="row" style="border: 1px solid #ebebeb;padding-left: 15px;padding-right: 15px;margin-right:0px;margin-left:0px;margin-top:30px"> 
        <div class="col-xs-12 col-sm-5 col-md-4">           
          <h3 style="font-family:osb;color:#b03441;display:inline-block;">My Trip title</h3>
      
          <img src="<%= asset_path('airbios_img1.png') %>" style="width:100%">
          <div class="row" style="margin-top: 15px;">
              <!-- Slider Image here -->
            <div class="col-xs-1 col-sm-2 col-md-1 farrow" style="color: #6C7688;font-size: 20px;font-weight: bold;text-align: center;margin-top: 3%;">
              <i class="fa fa-chevron-left"></i>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-10">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 padasm"><img src="<%= asset_path('airbios_img2.png') %>" style="width: 100%;"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 padasm"><img src="<%= asset_path('airbios_img3.png') %>" style="width: 100%;"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 padasm"><img src="<%= asset_path('airbios_img4.png') %>" style="width: 100%;"></div>
              </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-1 farrow" style="color: #6C7688;font-size: 20px;font-weight: bold;text-align: center;margin-top: 3%;">
              <i class="fa fa-chevron-right"></i>
            </div>

          </div>      
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
          <div class="row" style="margin-top:15px">
            
            <div class="col-xs-12 col-sm-7 col-md-6">
              <h4 class="article_head" style="color:#6C7688">FROM <span style="color:#b03441;"> 08/15/15 </span > TO <span style="color:#b03441;"> 08/16/15</span></h4>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6">
              <button type="button" class="btn btn-default choosefile" style="background-color:#6C7688;float: right;color: white;width: 200px;margin-bottom: 5px;">Details</button>
            </div>
          </div>
          <hr style="border-top: 1px solid;color:#ebebeb;margin-top:0px">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
              <h5 class="article_head" >DATE:</h5>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left:10px">
              <h5 class="article_head" style="color:#b03441;margin-top: 12px;">AUGUST, 15 SATURDAY</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
              <h5 class="article_head" >VISITED:</h5>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10" style="padding-left: 0px;">
              <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>        
            </div>
          </div>
          <hr style="border-top: 1px solid;color:#ebebeb;">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
              <h5 class="article_head" >DATE:</h5>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left:10px">
              <h5 class="article_head" style="color:#b03441;margin-top: 12px;">AUGUST, 15 SATURDAY</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
              <h5 class="article_head" >VISITED:</h5>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10" style="padding-left: 0px;">
              <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>        
            </div>

          </div>
          <hr style="border-top: 1px solid;color:#ebebeb;">
        </div> 
      <div class="col-sm-12 col-md-12">
        <h2 style="font-family:osbi;color:#b03441;display:inline-block;"><i class="fa fa-check-circle" style="font-size: 34px;margin-right: 10px;"></i>Completed</h2>
        <button type="button" class="btn btn-default choosefile" style="background-color:#6C7688;float: right;color: white;width: 200px;font-weight: 700;margin-top: 20px;margin-bottom: 5px;"><i class="fa fa-share" style="margin-right: 10px;"></i>Share Trip</button>

      </div>    
    </div>
          <div class="row" style="border: 1px solid #ebebeb;padding-left: 15px;padding-right: 15px;margin-right:0px;margin-left:0px;margin-top:30px"> 
        <div class="col-xs-12 col-sm-5 col-md-4">           
          <h3 style="font-family:osb;color:#b03441;display:inline-block;">My Trip title</h3>
      
          <img src="<%= asset_path('airbios_img1.png') %>" style="width:100%">
          <div class="row" style="margin-top: 15px;">
              <!-- Slider Image here -->
            <div class="col-xs-1 col-sm-2 col-md-1 farrow" style="color: #6C7688;font-size: 20px;font-weight: bold;text-align: center;margin-top: 3%;">
              <i class="fa fa-chevron-left"></i>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-10">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 padasm"><img src="<%= asset_path('airbios_img2.png') %>" style="width: 100%;"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 padasm"><img src="<%= asset_path('airbios_img3.png') %>" style="width: 100%;"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 padasm"><img src="<%= asset_path('airbios_img4.png') %>" style="width: 100%;"></div>
              </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-1 farrow" style="color: #6C7688;font-size: 20px;font-weight: bold;text-align: center;margin-top: 3%;">
              <i class="fa fa-chevron-right"></i>
            </div>

          </div>      
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
          <div class="row" style="margin-top:15px">
            
            <div class="col-xs-12 col-sm-7 col-md-6">
              <h4 class="article_head" style="color:#6C7688">FROM <span style="color:#b03441;"> 08/15/15 </span > TO <span style="color:#b03441;"> 08/16/15</span></h4>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6">
              <button type="button" class="btn btn-default choosefile" style="background-color:#6C7688;float: right;color: white;width: 200px;margin-bottom: 5px;">Details</button>
            </div>
          </div>
          <hr style="border-top: 1px solid;color:#ebebeb;margin-top:0px">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
              <h5 class="article_head" >DATE:</h5>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left:10px">
              <h5 class="article_head" style="color:#b03441;margin-top: 12px;">AUGUST, 15 SATURDAY</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
              <h5 class="article_head" >VISITED:</h5>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10" style="padding-left: 0px;">
              <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>        
            </div>
          </div>
          <hr style="border-top: 1px solid;color:#ebebeb;">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
              <h5 class="article_head" >DATE:</h5>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left:10px">
              <h5 class="article_head" style="color:#b03441;margin-top: 12px;">AUGUST, 15 SATURDAY</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
              <h5 class="article_head" >VISITED:</h5>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10" style="padding-left: 0px;">
              <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>        
            </div>

          </div>
          <hr style="border-top: 1px solid;color:#ebebeb;">
        </div> 
      <div class="col-sm-12 col-md-12">
        <h2 style="font-family:osbi;color:#b03441;display:inline-block;"><i class="fa fa-check-circle" style="font-size: 34px;margin-right: 10px;"></i>Completed</h2>
        <button type="button" class="btn btn-default choosefile" style="background-color:#6C7688;float: right;color: white;width: 200px;font-weight: 700;margin-top: 20px;margin-bottom: 5px;"><i class="fa fa-share" style="margin-right: 10px;"></i>Share Trip</button>

      </div>    
    </div>
          <div class="row" style="border: 1px solid #ebebeb;padding-left: 15px;padding-right: 15px;margin-right:0px;margin-left:0px;margin-top:30px"> 
        <div class="col-xs-12 col-sm-5 col-md-4">           
          <h3 style="font-family:osb;color:#b03441;display:inline-block;">My Trip title</h3>
      
          <img src="<%= asset_path('airbios_img1.png') %>" style="width:100%">
          <div class="row" style="margin-top: 15px;">
              <!-- Slider Image here -->
            <div class="col-xs-1 col-sm-2 col-md-1 farrow" style="color: #6C7688;font-size: 20px;font-weight: bold;text-align: center;margin-top: 3%;">
              <i class="fa fa-chevron-left"></i>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-10">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 padasm"><img src="<%= asset_path('airbios_img2.png') %>" style="width: 100%;"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 padasm"><img src="<%= asset_path('airbios_img3.png') %>" style="width: 100%;"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 padasm"><img src="<%= asset_path('airbios_img4.png') %>" style="width: 100%;"></div>
              </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-1 farrow" style="color: #6C7688;font-size: 20px;font-weight: bold;text-align: center;margin-top: 3%;">
              <i class="fa fa-chevron-right"></i>
            </div>

          </div>      
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
          <div class="row" style="margin-top:15px">
            
            <div class="col-xs-12 col-sm-7 col-md-6">
              <h4 class="article_head" style="color:#6C7688">FROM <span style="color:#b03441;"> 08/15/15 </span > TO <span style="color:#b03441;"> 08/16/15</span></h4>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6">
              <button type="button" class="btn btn-default choosefile" style="background-color:#6C7688;float: right;color: white;width: 200px;margin-bottom: 5px;">Details</button>
            </div>
          </div>
          <hr style="border-top: 1px solid;color:#ebebeb;margin-top:0px">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
              <h5 class="article_head" >DATE:</h5>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left:10px">
              <h5 class="article_head" style="color:#b03441;margin-top: 12px;">AUGUST, 15 SATURDAY</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
              <h5 class="article_head" >VISITED:</h5>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10" style="padding-left: 0px;">
              <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>        
            </div>
          </div>
          <hr style="border-top: 1px solid;color:#ebebeb;">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
              <h5 class="article_head" >DATE:</h5>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left:10px">
              <h5 class="article_head" style="color:#b03441;margin-top: 12px;">AUGUST, 15 SATURDAY</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
              <h5 class="article_head" >VISITED:</h5>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10" style="padding-left: 0px;">
              <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>
               <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: rgba(114, 114, 114, 0.1);margin-top: 5px;font-size: 14px;color: #A5A89F;font-weight: 100;font-family: osr;">
                <div class="row">
                  <div class="col-sm-7 col-md-8">Arrowood Vineyards & Winery</div>
                  <div class="col-sm-5 col-md-4" align="right">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                      <img src="<%= asset_path('star1.png') %>">
                  </div>
                </div>
              </div>        
            </div>

          </div>
          <hr style="border-top: 1px solid;color:#ebebeb;">
        </div> 
      <div class="col-sm-12 col-md-12">
        <h2 style="font-family:osbi;color:#b03441;display:inline-block;"><i class="fa fa-check-circle" style="font-size: 34px;margin-right: 10px;"></i>Completed</h2>
        <button type="button" class="btn btn-default choosefile" style="background-color:#6C7688;float: right;color: white;width: 200px;font-weight: 700;margin-top: 20px;margin-bottom: 5px;"><i class="fa fa-share" style="margin-right: 10px;"></i>Share Trip</button>

      </div>    
    </div>

    </br>
    </br>
    </div>
    <div class="col-md-1 noneedxs noneedsm">
      &nbsp;
    </div>
  </div>


    
</div>
</div>
<style>
@media only screen and (min-width: 1401px) {
  #map-container{
    height: 520px;
  }
  .modal-dialog{
    width: 800px !important;
  }
}

@media only screen and (min-device-width: 1201px) and (max-width: 1400px){
  h2{
    font-size: 26px !important;
  }
  h5{
    font-size: 12px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  h4{
    font-size: 14px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .article_head{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  label{
    margin-top: 5px !important;
  }
  p{
    font-size: 12px;
    margin-bottom: 5px !important;
  }
  .wnryimg{
    height: 230px !important;
  }
  .farrow{
    margin-top: 3% !important;
    padding: 0px !important;
  }
  #map-container{
    height: 420px;
  }
  .modal-dialog{
    width: 750px !important;
  }
  .padasm{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  
}

@media only screen and (min-device-width: 992px) and (max-width: 1200px){
  #map-container{   
    height:  400px !important;
  }
  .modal-dialog{
    width: 700px !important;
  }
  h2{
    font-size: 26px !important;
  }
  h5{
    font-size: 12px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  h4{
    font-size: 14px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .article_head{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  label{
    margin-top: 5px !important;
  }
  p{
    font-size: 12px;
    margin-bottom: 5px !important;
  }
  .wnryimg{
    height: 230px !important;
  }
  
  .topsrch{
    width: 100px !important;
  }
  .farrow{
    margin-top: 2% !important;
    padding: 0px !important;
  }
  .padasm{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-width: 991px) {
  #map-container{   
    height:  400px !important;
  }
  .padsm0{
    padding: 0px;
    margin-top: 10px;
  }
  .mapcnt{
    padding: 0px !important;
  }
  h2{
    font-size: 26px !important;
  }
  h5{
    font-size: 12px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  h4{
    font-size: 14px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .article_head{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  label{
    margin-top: 5px !important;
  }
  p{
    font-size: 12px;
    margin-bottom: 5px !important;
  }
  .wnryimg{
    height: 230px !important;
  }
  .topsrch{
    width: 100px !important;
  }
  .marlsm{
    margin-left: 0px !important;
  }
  .martsm{
    margin-top: 15px !important;
  }
  .padasm{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .choosefile{
    width: 150px !important;
  }
 
}

@media only screen and (max-width: 767px){
  #map-container{
    height:  200px !important;
  }
  .padsm0{
    padding: 0px;
    margin-top: 10px;
  }
  .farrow{
    margin-top: 1% !important;
    padding: 0px !important;
  }
  .marlsm{
    margin-left: 0px !important;
  }
  .martsm{
    margin-top: 15px !important;
  }
  .martxs{
    margin-top: 10px !important;
  }
  .mapcnt{
    padding: 0px !important;
  }
  h2{
    font-size: 26px !important;
  }
  h5{
    font-size: 12px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  h4{
    font-size: 14px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .article_head{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  label{
    margin-top: 5px !important;
  }
  p{
    font-size: 12px;
    margin-bottom: 5px !important;
  }
  .wnryimg{
    width: 100% !important;
    height: 230px !important;
  }
  .topsrch{
    margin-top: 10px;
    width: 100px !important;
  }
  .padxs0{
    padding: 0px !important;
  }
  .fa-heart{
    right: 15px !important;
  }
  .padasm{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .choosefile{
    width: 150px !important;
  }

}
.hdr{
	box-shadow: 1px 1px 6px;
}
hr{
  margin-bottom: 0px !important;
}
</style>
<%= render 'layouts/footer' %>