<%if @all_reviews.blank? %>
  <div class="row" align="center">
    <h3 style="color: #6B7589;">No Review's Found</h3>
  </div>
<% else %>
	<% @all_reviews.each do |i| %>
	    <div class="col-md-6">
	      <div style="border: 1px solid rgb(235, 235, 235); padding: 0px 15px 0px 0px;margin-top: 25px;">
	        <div class="row">
	          <div class="col-xs-12 col-sm-4 col-md-4" style="padding-right:0px">
	            <a href="/wineries/show/<%= i.winery.id %>/">
	              <img <% if i.photo and i.photo!='' %>src="<%= asset_path(i.photo) %>" <% elsif i.winery.winery_images.first %>src="<%= asset_path(i.winery.winery_images.first.photo) %>"<% else %> src="<%= asset_path('no-image.jpg') %>"<% end %>style="width: 100%; height: 200px;">
	            </a>
	          </div>
	          <div class="col-xs-12 col-sm-8 col-md-8" style="padding-left:25px">
	          	<div class="row" style="margin-top: 10px;margin-bottom: 10px;">
	              <div class="col-xs-3 col-sm-3 col-md-3">
	                <div style="background-color: #ebebeb;width: 54px;height: 54px;border-radius:5px">
	                  <img src="<%= asset_path(i.user.profile.photo) %>" style="height:50px;width:50px;">
	                </div>
	             </div>
	              <div class="col-xs-9 col-sm-9 col-md-9"> <span class="text_css" style="position: relative;top: 10px;font-family: osb;"><%= i.user.profile.first_name %> <%= i.user.profile.last_name %></span></div>
	            </div>
	            <div class="row">
	              <div class="col-xs-7 col-sm-7 col-md-7">
	                <% 5.times do |j| %>
	                  <% if j <= i.rating-1 %>
	                    <img src="<%= asset_path('star1.png') %>">
	                  <% end %>
	                <% end %>
	              </div>
	              <div class="col-xs-5 col-sm-5 col-md-5">
	                <div style="float:right">
	                  <span><img src="<%= asset_path('calender1.png') %>"></span>
	                  <span class="text_css" style="font-size:12px;font-family: osb;"><%= i.created_at.strftime("%b, %d, %Y") %></span>
	                </div>
	              </div>
	            </div>
	            <div class="text_css" style="line-height: 1.42857;">
	              <%= i.comment %>
	            </div>
	            
	          </div>
	        </div>
	      </div>
	    </div>
	  <% end %>

	<div class="row">
	  <div class="col-md-12" align="center" style="margin-top: 30px;">
	  
	    <%= js_will_paginate @all_reviews %>

	  </div>
	</div>
<% end %>